pipeline/LogFileDetails.json
{
	"name": "LogFileDetails",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LogFileName",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_logfile",
						"type": "DatasetReference",
						"parameters": {
							"LogFileName": {
								"value": "@variables('LogFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "df_Logdetails",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_Logdetails",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"RunID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerType": {
											"value": "'@{pipeline().TriggerType}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{activity('Get Metadata1').status}'",
											"type": "Expression"
										},
										"LogFileName": {
											"value": "'@{variables('LogFileName')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "df_Logdetails_append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_Logdetails_append",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"RunID": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerType": {
											"value": "'@{pipeline().TriggerType}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{activity('Get Metadata1').status}'",
											"type": "Expression"
										},
										"LogFileName": {
											"value": "'@{variables('LogFileName')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"LogFile": {
											"LogFileName": {
												"value": "@variables('LogFileName')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"LogFileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-11T15:50:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}